@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tasks";

body{ 
  padding-top: 100px; 
}

.navbar-light .navbar-text {
  color: white;
}

.navbar {
  color: white;
}

.fas {
  color: yellow;
}

.img-fluid {
  background-image: image-url("english.png");
  background-repeat: no-repeat;
  background-size: 570px;
  background-size: 570px!important;
  margin: 0 auto;
  max-width: 50%;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  text-align: center;
}


